<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:"http://schemas.android.com/apk/res/android" android:versionCode="110" android:versionName="2.2.6" android:installLocation="preferExternal" package="com.mmdt.syna" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-1819727">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <application android:theme="0x7f0d00cb" android:label="@r/app_name" android:icon="@r/ic_launcher" android:name="com.mmdt.syna.MyApplication" android:allowBackup="true" android:largeHeap="true" android:supportsRtl="false">
        <activity android:name="com.mmdt.syna.view.main.Splash" android:clearTaskOnLaunch="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="22" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mmdt.syna.view.main.MainActivity" android:clearTaskOnLaunch="true" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="22" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mmdt.syna.view.registeration.termandconditions.TermsAndConditionsActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.registeration.registernumber.RegistrationActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.registeration.accesscode.AccessCodeActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.registeration.registerationresult.RegistrationResultActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <receiver android:name="mobi.mmdt.ott.core.logic.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:theme="@*android:style/Theme.Dialog" android:label="@r/app_name" android:name="com.mmdt.syna.view.tools.SIPUri" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <data android:scheme="tel" />
                <action android:name="android.intent.action.CALL_PRIVILEGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.mmdt.sync.profile" />
            </intent-filter>
        </activity>
        <activity android:name="com.mmdt.syna.view.conversation.conversationpage.ConversationActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="2">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mmdt.syna.view.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
        </activity>
        <activity android:label="@r/app_name" android:name="com.mmdt.syna.view.contactprofile.ContactProfileActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".view.more.MoreActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mmdt.syna.view.MainActivity" />
        </activity>
        <activity android:name="com.mmdt.syna.view.more.settings.SettingsActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.more.aboutus.AboutUsActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.stickermarket.StickerMarketActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.conversation.publicchat.ExplorePublicChatsListActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.stickermarket.StickerCategoryListActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.stickermarket.StickerDetailsActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.more.credit.CreditsActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.more.rate.RateActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <service android:name="mobi.mmdt.ott.core.logic.message.TransmitterService" />
        <service android:name="mobi.mmdt.ott.core.logic.core.NotificationService" android:stopWithTask="false" />
        <receiver android:label="NetworkConnection" android:name="mobi.mmdt.ott.core.logic.receivers.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity android:name="com.mmdt.syna.view.conversation.conversationpage.activities.SingleConversationActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="2" android:parentActivityName="com.mmdt.syna.view.main.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mmdt.syna.view.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
        </activity>
        <activity android:name="com.mmdt.syna.view.conversation.conversationpage.activities.ForwardGroupConversationActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="2" android:parentActivityName="com.mmdt.syna.view.main.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mmdt.syna.view.MainActivity" />
        </activity>
        <activity android:name="com.mmdt.syna.view.conversation.conversationpage.activities.ForwardSingleConversationActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="2" android:parentActivityName="com.mmdt.syna.view.main.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mmdt.syna.view.MainActivity" />
        </activity>
        <activity android:name="com.mmdt.syna.view.conversation.conversationpage.activities.GroupConversationActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="2" android:parentActivityName="com.mmdt.syna.view.main.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mmdt.syna.view.MainActivity" />
        </activity>
        <activity android:name="com.mmdt.syna.view.conversation.conversationpage.activities.MainConversationActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="2" android:parentActivityName="com.mmdt.syna.view.main.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mmdt.syna.view.MainActivity" />
        </activity>
        <activity android:name="com.mmdt.syna.view.conversation.conversationpage.activities.MultipleRecipientMessageActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="2" android:parentActivityName="com.mmdt.syna.view.main.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mmdt.syna.view.MainActivity" />
        </activity>
        <activity android:name="com.mmdt.syna.view.conversation.conversationpage.activities.PublicChatConversationActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="2" android:parentActivityName="com.mmdt.syna.view.main.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mmdt.syna.view.main.MainActivity" />
        </activity>
        <activity android:name="com.mmdt.syna.view.more.settings.profile.MyProfileActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:uiOptions="splitActionBarWhenNarrow" />
        <activity android:name="com.mmdt.syna.view.call.CallingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" />
        <service android:name="org.linphone.SipLibService" android:stopWithTask="false" />
        <receiver android:name="org.linphone.NetworkManager">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.linphone.BluetoothManager">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.linphone.PhoneStateChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.linphone.KeepAliveHandler" />
        <provider android:name="mobi.mmdt.ott.core.model.database.DatabaseContentProvider" android:exported="false" android:authorities="com.mmdt.syna" />
        <activity android:name="com.mmdt.syna.view.selectcontactmessage.NewMessageContactListActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:name="com.mmdt.syna.view.selectcontactmessage.NewGroupChatContactListActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <service android:name="mobi.mmdt.ott.core.logic.core.ManagerService" android:exported="false" />
        <service android:name="mobi.mmdt.ott.core.model.contactmanager.AuthenticationService" android:exported="true" android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="0x7f050000" />
        </service>
        <service android:name="mobi.mmdt.ott.core.model.contactmanager.SyncService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="0x7f050004" />
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="0x7f050001" />
        </service>
        <activity android:label="0x7f0c0340" android:name="com.mmdt.syna.view.forceaction.ForceUpdateActivity" />
        <activity android:label="0x7f0c035f" android:name="com.mmdt.syna.view.forceaction.ForceSettingActivity" />
        <activity android:label="0x7f0c036e" android:name="com.mmdt.syna.view.feedback.FeedbackActivity" />
        <activity android:name="com.mmdt.syna.view.introduction.IntroductionActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.more.language.LanguageActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:label="0x7f0c0348" android:name="com.mmdt.syna.view.share.ShareActivity" />
        <activity android:label="0x7f0c0352" android:name="com.mmdt.syna.view.more.settings.nightmode.NightModeActivity" />
        <activity android:label="0x7f0c037c" android:name="com.mmdt.syna.view.registeration.language.WelcomeActivity" />
        <activity android:label="0x7f0c0373" android:name="com.mmdt.syna.view.forward.ForwardActivity" />
        <activity android:label="@r/app_name" android:name="org.catrobat.paintroid.PaintMainActivity" />
        <activity android:name="com.mmdt.syna.view.imagecrop.ImageCropperActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mmdt.syna.view.conversation.conversationpage.addfootermessage.AddFooterMessageActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>
</manifest>
